/* reset dulu  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
}

/* container adaah wraper ruang utk anak2 cell dibawah nya 
   hanya punya border 1px solid
   JADI INTINYA SYARAT GRID ADALAH HARUS AdA CONTAINER DAN CHILDREL/CELL
 */
.container {
  border: 2px solid black;
}

/* nah setelahnya kita baru berikan area2 tsb pada cell2 
yg mau kita pilih mis utk "a" kita kasih ke cell-1 
jadi urut baiknya ,kalau mau kasih cell-6 gak mslah tapi
sbaiknya urut bagi permula yg sprti saya 
*/
.cell {
  padding: 2rem;
  background: #dedede;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 3px solid red;
  color: #fff;
}

.cell-1 {
  background: #581f18;
}
.cell-2 {
  background: #f0a202;
}
.cell-3 {
  background: #d95d39;
}
.cell-4 {
  background: #202c59;
}
.cell-5 {
  background: #51cb20;
}
.cell-6 {
  background: grey;
}
/*  */
