/* reset dulu  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
}

/* container adaah wraper ruang utk anak2 cell dibawah nya 
   hanya punya border 1px solid
   JADI INTINYA SYARAT GRID ADALAH HARUS AdA CONTAINER DAN CHILDREL/CELL
 */
.container {
  border: 5px solid black;

  /* nah step ke 2 di container kita seting displya  dan columns sbb */
  display: grid;
  /* height: wajib diset dulu agat auto pada rows bisa aktif !  */
  height: 100vh;
  grid-template-columns: 1fr 1fr 4fr 2fr;
  grid-template-rows: 2fr 1fr 3fr;
  /* kasih gap  cek di:310_gap.txt */
  grid-gap: 10px 30px; /* gap row:10px col:20px   */
}

/* utk cell dia wraper ke cell-* dibawahnya  
pembungkus dgn border orange
*/
.cell {
  padding: 2rem;
  background: #dedede;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 3px solid red;
  color: #fff;
}

.cell-1 {
  background: #581f18;
}
.cell-2 {
  background: #f0a202;
}
.cell-3 {
  background: #d95d39;
}
.cell-4 {
  background: #202c59;
}
.cell-5 {
  background: #51cb20;
}
/*  */
